version: '3.9'

services:
  api:
    env_file:
    - .env
    container_name: bloom-backend
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/bloom
    ports:
      - 35001:35001
    depends_on:
      - db
    volumes:
      - .:/app

  db:
    image: postgres:16
    container_name: bloom-local-db
    restart: unless-stopped
    ports:
      - 35000:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: bloom
